@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* ☀️ (Light Mode) */
  :root {
    --color-primary: 108 92 231;
    --color-secondary: 253 203 110;
    --color-background: 244 245 246;
    --color-text: 0 0 0;
    --color-card: 244 245 246;
    --shadow-color: 30 30 30;
  }

  /* 🌙 (Dark Mode) */
  .dark:root {
    --color-primary: 108 92 231;
    --color-secondary: 253 203 110;
    --color-background: 30 30 30;
    --color-text: 255 255 255;
    --color-card: 30 30 30;
    --shadow-color: 244 245 246;
  }
}
